/* Prettified by Source 2 Viewer 13.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud.vcss_c");
#hud_passive_items
{
    height: 60px;
    width: 600px;
    margin: 20px;
    margin-top: -6%;
    visibility: visible;
    horizontal-align: center;
    vertical-align: top;
    ui-scale: 105%;
}