/* Prettified by Source 2 Viewer 18.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_objective_health.vcss_c");
#healthbar_progress .ProgressBarLeft
{
	visibility: visible;
	background-color: #F0E442;
	height: 100%;
}

@keyframes 'is_transforming_pulse_friend'
{
	0%
	{
		background-color: #0072B2;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #0072B2;
	}

}

@keyframes 'laneYellow_is_being_attacked'
{
	0%
	{
		background-color: #F0E442cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #F0E442cc;
	}

}

@keyframes 'laneOrange_is_being_attacked'
{
	0%
	{
		background-color: #E69F00cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #E69F00cc;
	}

}

@keyframes 'laneBlue_is_being_attacked'
{
	0%
	{
		background-color: #56B4E9cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #56B4E9cc;
	}

}

@keyframes 'lanePurple_is_being_attacked'
{
	0%
	{
		background-color: #CC79A7cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #CC79A7cc;
	}

}

@keyframes 'laneGreen_is_being_attacked'
{
	0%
	{
		background-color: #009E73cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #009E73cc;
	}

}

@keyframes 'team1_is_being_attacked'
{
	0%
	{
		background-color: #0072B2cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #0072B2cc;
	}

}

@keyframes 'team2_is_being_attacked'
{
	0%
	{
		background-color: #F0E442cc;
	}

	50%
	{
		background-color: #111827;
	}

	100%
	{
		background-color: #F0E442cc;
	}

}

.on_damaged #healthbar_progress .ProgressBarMiddle
{
	background-color: #D55E00;
	opacity: 1;
	transition-property: background-color, opacity;
	transition-duration: 0.5s;
}

.friend #healthbar_progress .ProgressBarLeft
{
	background-color: #0072B2;
}

