/* Prettified by Source 2 Viewer 18.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_damage_impact.vcss_c");
.playerName
{
	flow-children: right;
	font-size: 18px;
	color: #111827;
	margin-left: 4px;
	vertical-align: center;
}

#healthRemaining
{
	flow-children: right;
	width: 120px;
	height: 100%;
	background-color: #F0E442;
	border-bottom: 2px solid #111827;
	transition-property: width, background-color;
	transition-duration: 0.5s;
}

#heroIcon.heroDead
{
	wash-color: #F0E442;
}

.is_heal #healthRemaining
{
	background-color: #009E73;
	border-bottom: 2px solid #DDE7EE;
}

#healthGained
{
	background-color: #009E73;
}

.killed #heroBadge,.assist #heroBadge,.killed #heroIconContainer,.assist #heroIconContainer
{
	wash-color: #F0E442;
}

.killLabel,.assistLabel
{
	color: #F0E442;
	text-shadow: 0px 0px 4px 2.0 #000000cc;
}
