/* Prettified by Source 2 Viewer 19.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_abilities.vcss_c");
.active .ability_bg,.active .ability_ring,.channeling .ability_bg,.channeling .ability_ring
{
	wash-color: #009E73;
}

.ability_upgradable .ability_ring,.ability_upgradable .button_container,.learning_ability .ability_key,.ability_upgradable .ability_key
{
	wash-color: #CC79A7;
	color: #CC79A7;
}

.cooling_down .ability_bg,.ability_not_ready .ability_bg,.not_trained .image_container
{
	wash-color: #6B7280;
	opacity: 0.35;
}

.cooling_down .ability_ring,.ability_not_ready .ability_ring
{
	wash-color: #111827;
	opacity: 0.75;
}

.active .ability_key_container,.channeling .ability_key_container
{
	wash-color: #009E73;
	opacity: 1;
}

.not_enough_mana .button_container
{
	wash-color: #6B7280;
	border: 1px solid #111827;
}

.new_item .button_container
{
	background-color: #E69F00c2;
	wash-color: #CC79A7c2;
}
