/* Prettified by Source 2 Viewer 13.0.0.0 - https://valveresourceformat.github.io */

@define healthbarHeight: 75px;
.bars_container
{
	margin-top: 33px;
	ignore-parent-flow: true;
	horizontal-align: right;
	overflow: noclip;
	flow-children: right;
	horizontal-align: center;
	transform: rotateZ(0deg);
	padding: 15px 20px 20px 20px;
	width: 145px;
	max-height: 450px;
	padding: 0px;
	margin-left: 62px;
	width: 400px;
	height: 100%;
}

@keyframes 'midhealth_pulse'
{
	0%
	{
		background-color: #FCFF6D00;
	}
	
	50%
	{
		background-color: #FCFF6D00;
	}
	
	100%
	{
		background-color: #FCFF6D00;
	}
	
}

@keyframes 'health_pulse'
{
	0%
	{
		background-color: #FF410D00;
	}
	
	50%
	{
		background-color: #FF410D00;
	}
	
	100%
	{
		background-color: #FF410D00;
	}
	
}

@keyframes 'health_pulse_text'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.08;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'health_pulse_text2'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate3'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.03;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.1;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

#health_bar
{
	background-color: #333333ea;
	width: 36px;
	height: 312px;
	margin: 10px 10px 10px 10px;
	border: 2px solid offBlack;
	border-radius: 10px;
}

.healthLow #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.healthMid #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.healthLow .progress_bar_current
{
	color: #FFE3DB;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

.progress_bar_numbers
{
	height: 100%;
	flow-children: right;
	vertical-align: center;
	visibility: visible;
	horizontal-align: right;
	transform: translateY(-2px);
	visibility: collapse;
}

.healthLow #current_health
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.bar_num_col_left
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

.bar_num_col_right
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

.progress_bar_max
{
	font-size: 16px;
	vertical-align: center;
	font-weight: bold;
	horizontal-align: right;
	text-align: right;
	padding-right: 5px;
	color: rgba(255, 255, 255, 0.5);
}

.progress_bar_current
{
	font-size: 24px;
	font-weight: bold;
	padding-left: 6px;
	margin-top: 0px;
	color: colorFriendly;
	color: #ffffff;
	vertical-align: center;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
	text-shadow: 1px 1px 0px #0c0c0cee;
}

#current_health.healthLost
{
	color: white;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

#max_health
{
	color: #ddddddaa;
	font-size: 14px;
	font-weight: semi-bold;
	margin-left: 2px;
	margin-right: 8px;
	vertical-align: middle;
	margin-top: 3px;
}

.large_progress_bar
{
	width: 40px;
	height: healthbarHeight;
}

.small_progress_bar
{
	height: 100px;
	width: 10px;
	margin-top: 3px;
}

.health_bar_line
{
	overflow: noclip;
	width: 350px;
	height: 400px;
}

.healthMid .health_bar_line
{
	transition-property: pre-transform-scale2d;
	animation-name: vibrate3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

.healthLow .health_bar_line
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-name: vibrate;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.health_bar_border
{
	margin: 30px;
	transform: rotateZ(90deg);
	margin: 0px 10px 0px 10px;
	horizontal-align: center;
	margin-top: 60px;
}

.regen_container
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
	padding: 30px 6px 2px 1px;
	margin-top: 186px;
	margin-left: 4px;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 1;
}

.health_regen_boosted.regen_container
{
	animation-name: regenBoost;
	animation-iteration-count: infinite;
	animation-duration: 0.2s;
}

.regen_image
{
	vertical-align: center;
	height: 16px;
	width: 14px;
	wash-color: offWhite;
	margin-right: 3px;
	opacity: 0.3;
	transition-property: wash-color;
	transition-duration: 0.2s;
}

.health_regen_boosted .regen_image
{
	wash-color: colorFriendly;
}

.health_regen_negative .regen_image
{
	wash-color: colorEnemy;
	transform: rotateY(180deg);
}

.regen_value
{
	line-height: 16px;
	font-size: 12px;
	color: offBlack;
	text-shadow: 0px 0px 0px 2.0 offWhite;
	font-weight: semi-bold;
	transition-property: color;
	transition-duration: 0.2s;
	margin-left: 8px;
}

.health_regen_boosted .regen_value
{
	color: colorFriendly;
}

@keyframes 'regenBoost'
{
	0%
	{
		wash-color: none;
	}
	
	50%
	{
		wash-color: green;
	}
	
	100%
	{
		wash-color: none;
	}
	
}

.health_regen_boosted .regen_container
{
	visibility: visible;
	opacity: 0.5;
}

.health_regen_negative .regen_container
{
	visibility: visible;
	opacity: 1;
}

.health_regen_negative .regen_value
{
	color: colorEnemy;
	font-weight: bold;
}

#shield_bar,#tech_shield_bar
{
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid offBlack;
	font-size: 12px;
	visibility: collapse;
	border-radius: 3px;
	ignore-parent-flow: true;
	horizontal-align: right;
	transform: rotateZ(90deg);
	margin-right: 323px;
	margin-top: 150px;
}

.shieldActive #shield_bar
{
	visibility: visible;
}

.shieldActive #tech_shield_bar
{
	margin-right: 113px;
	transform: rotateZ(-90deg);
}

.techShieldActive #tech_shield_bar
{
	visibility: visible;
}

#shield_bar .ProgressBarLeft
{
	background-color: courageBrightColor;
	background-color: #4bdc68;
}

#tech_shield_bar .ProgressBarLeft
{
	background-color: spiritBrightColor;
}

#shield_bar .ProgressBarMiddle,#tech_shield_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .ProgressBarRight,#tech_shield_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .progress_bar_current,#tech_shield_bar .progress_bar_current
{
	font-size: 14px;
	line-height: 14px;
	margin-top: 1px;
}

#shield_bar .progress_bar_divider,#tech_shield_bar .progress_bar_divider
{
	font-size: 14px;
	line-height: 14px;
}

#shield_bar .progress_bar_max,#tech_shield_bar .progress_bar_max
{
	font-size: 12px;
	line-height: 14px;
	font-weight: medium;
	vertical-align: bottom;
	margin-left: 2px;
	margin-top: 4px;
}

#pending_incoming_damage
{
	width: 36px;
	height: 312px;
	margin: 10px 10px 10px 10px;
	border: 2px solid offBlack;
	border-radius: 10px;
}

#pending_incoming_damage .ProgressBarMiddle
{
	background-color: rgb(232, 127, 61);
}

#pending_incoming_damage .ProgressBarLeft,#pending_incoming_damage .ProgressBarRight
{
	opacity: 0;
}

#pending_incoming_heal
{
	width: 36px;
	height: 312px;
	margin: 10px 10px 10px 10px;
	border: 2px solid offBlack;
	border-radius: 10px;
}

#pending_incoming_heal .ProgressBarMiddle
{
	background-color: rgb(122, 165, 69);
}

#pending_incoming_heal .ProgressBarLeft,#pending_incoming_heal .ProgressBarRight
{
	opacity: 0;
}

#health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
	background-color: #00FF99;
	background-color: #FFEFD7;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.team1 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team1_png.vtex");
}

.team2 #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_team2_png.vtex");
}

.team1.friend #health_bar .ProgressBarLeft,.team2.friend #health_bar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_fill_texture_png.vtex");
}

.healthMid #health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
}

#health_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar.healthLost .ProgressBarMiddle
{
	background-color: #cc340a;
	transition-duration: 1s;
	transition-property: background-color;
}

.SpectatingTeamWest #health_bar.healthLost .ProgressBarMiddle
{
	background-color: #f6805f;
}

#healthBottomEdge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	background-color: #00D37F;
	vertical-align: middle;
	z-index: 10;
	visibility: collapse;
}

#healthBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

.healthMid #healthBottomEdge
{
	background-color: #fff41d87;
	background-color: #fff41d00;
}

.healthLow #healthBottomEdge
{
	background-color: #FF410D50;
	background-color: #FF410D00;
}

#health_bar_frame
{
	wash-color: #142304;
	width: 60px;
	height: 335px;
	background-size: cover;
	background-repeat: no-repeat;
}

.healthLow #health_bar_frame
{
	wash-color: #FF410D;
	wash-color: #FF5656;
	wash-color: #cc340a;
}

.SpectatingTeamWest .healthLow #health_bar_frame
{
	wash-color: #580000;
}

#RejuvenatorContainer
{
	width: 28px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: left;
	overflow: noclip;
	margin-top: 205px;
	margin-left: 110px;
	visibility: collapse;
}

.healthLow #RejuvenatorContainer
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_low_png.vtex");
}

.energy_bar_line
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
}

.energyActive .energy_bar_line
{
	visibility: visible;
}

.energy_bar_border
{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

#energy_bar
{
	font-size: 12px;
	visibility: collapse;
	height: 24px;
}

.energyActive #energy_bar
{
	visibility: visible;
}

#energy_bar .ProgressBarLeft
{
	background-color: rgba(51, 102, 255, 0.8);
}

#energy_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#energy_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#energy_bar .progress_bar_current
{
	font-size: 18px;
	line-height: 18px;
	color: lightblue;
	font-weight: bold;
}

#energy_bar .progress_bar_max
{
	font-size: 16px;
	line-height: 18px;
	color: grey;
	font-weight: bold;
}

#energyBottomEdge
{
	width: 100%;
	height: 4px;
	background-color: rgba(192, 192, 192, 0.3);
	vertical-align: bottom;
	z-index: 10;
}

#energyBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

#energyBottomEdgeLit
{
	width: 100%;
	height: 4px;
	background-color: blue;
	vertical-align: bottom;
}

.energy_bar_line
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
}

.energyActive .energy_bar_line
{
	visibility: visible;
}

.energy_bar_border
{
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

#HealingPanel
{
	background-color: #00FF0088;
	z-index: 15;
	width: 100%;
}

#hud_health_bars #health_bar .progress_bar_numbers
{
	opacity: 0;
	visibility: visible;
}

#hud_health_bars #current_health,
#hud_health_bars #max_health
{
	opacity: 0;
	visibility: visible;
}

#hud_health_bars .hp_custom_health_root
{
	width: 210px;
	height: 90px;
	background-color: #00000000;
	overflow: noclip;
}

#hud_health_bars .hp_custom_health_root .health_bar_line
{
	overflow: noclip;
	width: 350px;
	height: 400px;
}

#hud_health_bars .hp_progress_source
{
	ignore-parent-flow: true;
	opacity: 0.001;
	visibility: visible;
	overflow: noclip;
	hittest: false;
	z-index: 1;
	transform: none;
}

#hud_health_bars .hp_progress_source .health_bar_border,
#hud_health_bars .hp_progress_source .progress_bar_numbers,
#hud_health_bars .hp_progress_source #current_health,
#hud_health_bars .hp_progress_source #max_health,
#hud_health_bars .hp_progress_source #healthBottomEdge,
#hud_health_bars .hp_progress_source #health_bar_frame
{
	opacity: 1;
	visibility: visible;
	background-color: #00000000;
}

#hud_health_bars .hp_progress_source .health_bar_border
{
	width: 65px;
	height: 212px;
	margin: 0px;
	transform: rotateZ(0deg);
	overflow: noclip;
}

#hud_health_bars .hp_progress_source #health_bar,
#hud_health_bars .hp_progress_source #pending_incoming_damage,
#hud_health_bars .hp_progress_source #pending_incoming_heal
{
	width: 65px;
	height: 212px;
	margin: 0px;
	background-color: #00000000;
	border: 0px;
	opacity: 1;
	visibility: visible;
}

#hud_health_bars .hp_progress_source #pending_incoming_damage,
#hud_health_bars .hp_progress_source #pending_incoming_heal
{
	ignore-parent-flow: true;
}

#hud_health_bars .hp_progress_source .ProgressBarLeft,
#hud_health_bars .hp_progress_source .ProgressBarMiddle,
#hud_health_bars .hp_progress_source .ProgressBarRight
{
	visibility: visible;
}

#hud_health_bars .hp_custom_text
{
	ignore-parent-flow: true;
	width: 200px;
	height: 64px;
	horizontal-align: right;
	vertical-align: center;
	overflow: noclip;
	z-index: 50;
	margin-right: 0px;
	margin-top: 0px;
}

#hud_health_bars .hp_custom_health_root .regen_container
{
	ignore-parent-flow: true;
	flow-children: right;
	horizontal-align: left;
	vertical-align: top;
	position: 50px 22px 0px;
	padding: 0px;
	margin: 0px;
	opacity: 1;
	z-index: 55;
	overflow: noclip;
}

#hud_health_bars.hp-current-wide .hp_custom_health_root .regen_container,
#hud_health_bars .hp_custom_health_root .regen_container.hp-current-wide
{
	position: 0px 22px 0px;
}

#hud_health_bars .hp_custom_health_root .regen_image
{
	width: 12px;
	height: 12px;
	margin-right: 3px;
	opacity: 0.85;
}

#hud_health_bars .hp_custom_health_root .regen_value
{
	font-size: 12px;
	line-height: 14px;
	margin-left: 0px;
	color: #ffffff;
	text-shadow: 0px 0px 0px 2.0 #000000f2;
}

#hud_health_bars .hp_custom_health_root .health_regen_boosted .regen_value
{
	color: colorFriendly;
}

#hud_health_bars .hp_custom_health_root .health_regen_negative .regen_value
{
	color: colorEnemy;
	font-weight: bold;
}

#hud_health_bars .hp_custom_base,
#hud_health_bars .hp_custom_fill,
#hud_health_bars .hp_custom_effect
{
	ignore-parent-flow: true;
	width: 200px;
	height: 64px;
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
	overflow: noclip;
}

#hud_health_bars .hp_custom_base
{
	z-index: 1;
	opacity: 0;
}

#hud_health_bars.hp-damaged .hp_custom_base,
#hud_health_bars .hp_custom_text.hp-damaged .hp_custom_base
{
	opacity: 1;
}

#hud_health_bars .hp_custom_fill
{
	z-index: 2;
	clip: rect(0px, 200px, 64px, 0px);
}

#hud_health_bars .hp_custom_heal
{
	z-index: 5;
	clip: rect(0px, 0px, 64px, 0px);
}

#hud_health_bars .hp_custom_deferred
{
	z-index: 6;
	clip: rect(0px, 0px, 64px, 0px);
}

#hud_health_bars .hp_custom_damage
{
	z-index: 7;
	clip: rect(0px, 0px, 64px, 0px);
}

#hud_health_bars .hp_custom_current
{
	width: 136px;
	height: 56px;
	font-size: 32px;
	font-weight: bold;
	font-family: numericSans;
	text-overflow: shrink;
	vertical-align: center;
	text-align: right;
	text-shadow: 0px 0px 0px 2.5 #000000f2;
	overflow: noclip;
	margin-left: 0px;
	margin-right: 2px;
}

#hud_health_bars.healthLow .hp_custom_current,
.healthLow #hud_health_bars .hp_custom_current
{
	text-shadow: 0px 0px 0px 4.0 #d92820;
	transition-property: text-shadow;
	transition-duration: 0.2s;
}

#hud_health_bars .hp_custom_max
{
	width: 62px;
	height: 30px;
	font-size: 13px;
	font-weight: semi-bold;
	font-family: numericSans;
	text-overflow: shrink;
	vertical-align: bottom;
	text-align: left;
	text-shadow: 0px 0px 0px 2.0 #000000f2;
	overflow: noclip;
	margin-top: 0px;
	margin-bottom: 4px;
	opacity: 0;
	visibility: visible;
}

#hud_health_bars .hp_custom_current_base,
#hud_health_bars .hp_custom_max_base
{
	color: #333333ea;
}

#hud_health_bars .hp_custom_current_fill,
#hud_health_bars .hp_custom_max_fill
{
	color: #ffffff;
}

#hud_health_bars .hp_custom_current_heal,
#hud_health_bars .hp_custom_max_heal
{
	color: #9cffb8;
}

#hud_health_bars .hp_custom_current_deferred,
#hud_health_bars .hp_custom_max_deferred
{
	color: rgb(232, 127, 61);
}

#hud_health_bars .hp_custom_current_damage,
#hud_health_bars .hp_custom_max_damage
{
	color: #ff5f45;
}

#hud_health_bars.hp-damaged .hp_custom_max,
#hud_health_bars .hp_custom_text.hp-damaged .hp_custom_max
{
	opacity: 1;
	visibility: visible;
}
