/* Prettified by Source 2 Viewer 13.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud.vcss_c");
#Buff
{
	background-color: rgba(12, 12, 12, 0.6);
	width: 32%;
    height: 10%;
    margin-bottom: 10%;
	margin-right: 7%;
    vertical-align: bottom;
    horizontal-align: right;
    perspective: 900;
    opacity: 1;
    transform: translateX(0px);
    transition-property: width,height;
    transition-duration: 0.15s;
	world-blur: ingameHudBlur;
	z-index: 99999;
    border-radius: 10px;
}

#BuffTime
{
	font-size: 24px;
    color: offWhite&90;
    horizontal-align: center;
    vertical-align: center;
    width: 100%;
    height: 70%;
    margin-right: 30%;
    margin-bottom: 5%;
    font-weight: semi-bold;
    text-align: center;
    font-family: sansMono;
	z-index: 999999;
}

#BuffImg
{
    horizontal-align: right;
    vertical-align: center;
    height: 80%;
    width: 25%;
    margin-right: 13%;
}