/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

#SoulTimerOverlay
{
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: noclip;
}

#SoulTimerLabel
{
    font-family: sansMono, monospace;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 3px 1.5 #000000;
    vertical-align: bottom;
    margin-bottom: 17%;
    margin-left: 10.5%;
    opacity: 1.0;
    transition-property: opacity, color;
    transition-duration: 0.15s;
}

.AspectRatio16x10 #SoulTimerLabel,.AspectRatio16x10 #SoulTimerOverlay #SoulTimerLabel
{
    margin-left: 11.7%;
}

.AspectRatio16x9 #SoulTimerLabel,.AspectRatio16x9 #SoulTimerOverlay #SoulTimerLabel
{
    margin-left: 10.5%;
}

#SoulTimerLabel.hidden
{
    visibility: collapse;
    opacity: 0.0;
}

#SoulTimerLabel.white
{
    color: #ffffff;
    text-shadow: 0px 0px 3px 1.0 #888888;
}

#SoulTimerLabel.yellow
{
    color: #fbbf24;
    text-shadow: 0px 0px 4px 1.0 #f59e0b;
}

#SoulTimerLabel.red
{
    color: #f87171;
    text-shadow: 0px 0px 4px 1.0 #ef4444;
}

.soul-timer
{
    font-family: sansMono, monospace;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 3px 1.5 #000000;
}

.soul-timer.hidden
{
    visibility: collapse;
    opacity: 0.0;
}

.soul-timer.white
{
    color: #ffffff;
}

.soul-timer.yellow
{
    color: #fbbf24;
}

.soul-timer.red
{
    color: #f87171;
}
