/* Prettified by Source 2 Viewer 13.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_abilities.vcss_c");
.items .ability_container.item_passive.Hidden
{
	visibility: visible;
}

