/* Soul Timer Warning Addon v3.1 - Tuned Margins & Animation */

@keyframes 'soul-critical-breath'
{
    0%
    {
        color: #ffeaea;
        text-shadow: 0px 0px 4px #ff0000;
        pre-transform-scale2d: 1.0;
    }
    
    50%
    {
        color: #ffffff;
        text-shadow: 0px 0px 12px #ff0000;
        pre-transform-scale2d: 1.55;
    }
    
    100%
    {
        color: #ffeaea;
        text-shadow: 0px 0px 4px #ff0000;
        pre-transform-scale2d: 1.0;
    }
}

/* Base Label Shape Overrides from Image */
#SoulTimerLabel
{
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 25%;
    vertical-align: bottom;
    margin-bottom: 12.2%;
}

/* Aspect Ratio Overrides */
.AspectRatio16x10 #SoulTimerLabel,
.AspectRatio16x10 #SoulTimerOverlay #SoulTimerLabel
{
    margin-left: 10.7%;
}

.AspectRatio16x9 #SoulTimerLabel,
.AspectRatio16x9 #SoulTimerOverlay #SoulTimerLabel
{
    margin-left: 9.4%;
}

#SoulTimerLabel.red
{
    animation-name: soul-critical-breath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: noclip;
    transform-origin: 50% 50%;
}

#SoulTimerLabel.white,
#SoulTimerLabel.yellow
{
    animation-name: none;
    pre-transform-scale2d: 1.0;
    transform: none;
}
