/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/_nphud_shared.vcss_c");
@define brandGreen: #C4FF47;
@define ritualGreen: #1eb6be;
@define ritualGreenLight: #1dacbc;
@define offWhite: #FFFFFF;
@define offBlack: #0d1013;
@define silvered: #C6C6C6;
#LogoArea
{
	width: 600px;
	height: fit-children;
	flow-children: down;
	margin: 80px 20px 30px 20px;
	animation-name: scanlines_2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	transition-property: opacity-mask, wash-color;
}

#GameTitle
{
	horizontal-align: left;
	background-size: cover;
	height: 150px;
	width: 100%;
	flow-children: down;
	background-image: url("s2r://primelogo.vtex");
	opacity: 0.9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 0px;
	opacity-mask: url("s2r://panorama/images/hud/deer/texture_lines.vtex");
}

.GameSubtext
{
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	opacity: 0.2;
	font-family: serif;
	font-size: 16px;
	letter-spacing: 0.1px;
	text-align: center;
}

.nav_menu_item Label.queueNumber
{
	color: ritualGreen;
}

#Announcements
{
	width: 60px;
	height: 60px;
	horizontal-align: right;
	margin: 0px 5px;
	background-color: offBlack;
	visibility: collapse;
	opacity: 0.5;
	border-radius: 15px;
	border: 2px solid offWhite&10;
}

.HasNewAnnouncements #Announcements
{
	opacity: 1;
	border: 3px solid spiritDarkColor;
	background-color: brandGreen;
	background-color: gradient( linear, 0% 0%, 50% 100%, from( spiritBrightColor ), to( spiritColor ) );
}

.AnnouncementIcon
{
	background-image: url("s2r://panorama/custom/announcement.vsvg");
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	wash-color: offWhite;
	opacity: 0.2;
}

.AnnouncementIconClose
{
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	wash-color: #ff6060;
	opacity: 0.6;
	visibility: collapse;
}

#LeftStripe
{
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
}

.showPlayMenu #LeftStripe
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0s;
}

#PlayMenu
{
	height: 100%;
	width: 500px;
	flow-children: right;
	transition-property: transform;
	transition-duration: 0.15s;
	background-color: gradient( linear, 100% 0%, 80% 0%, from( #00000000 ), to( #000000aa ) );
	background-color: #111;
	background-size: 100%;
	background-position: right;
	z-index: 9;
	opacity: 0;
	transition-property: width;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.IsShowingDashboardPage.showPlayMenu #PlayMenu,.connectedToGame.showPlayMenu #PlayMenu
{
	width: 1200px;
	opacity: 1;
	transition-property: width, opacity;
	transition-duration: 0.2s;
}

#PlayModes
{
	flow-children: down;
	width: 700px;
	height: 100%;
	padding: 0px 20px;
	margin-left: 100px;
	padding-top: 80px;
}

#GameTitleSpacer
{
	horizontal-align: left;
	background-size: cover;
	width: 320px;
	height: 150px;
	flow-children: down;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 90px;
	margin-left: 60px;
	transition-property: height;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

.showPlayMenu #GameTitleSpacer
{
	height: 0px;
}

#PlayOptions
{
	flow-children: down;
	width: 60%;
	height: fit-children;
	transform: translateX(-500px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}

.showPlayMenu #PlayOptions
{
	opacity: 1;
	transform: translateX(0px);
	transition-property: transform, opacity;
	transition-duration: 0.2s;
}

#PlayTitle Label
{
	font-size: 32px;
	color: white;
	font-weight: semi-bold;
	color: #262626;
	color: offWhite;
	opacity: 0.5;
	padding-left: 205px;
	font-family: serif;
	text-transform: uppercase;
}

.playoption Label.menuButtonLabel
{
	vertical-align: middle;
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	horizontal-align: left;
	color: offWhite;
	letter-spacing: 0px;
	transition-property: color, transform;
	transition-duration: 0.08s;
	overflow: noclip;
	width: fit-children;
	padding: 0px;
	border: 0px;
}

#Option_Matchmaking.playoption Label.menuButtonLabel,#Option_PlayersVsBots.playoption Label.menuButtonLabel
{
	color: offWhite;
	font-size: 36px;
	text-align: left;
	horizontal-align: left;
	height: fit-children;
}

.playoption:hover Label.menuButtonLabel
{
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

#Option_Matchmaking.playoption:hover Label.menuButtonLabel
{
	font-style: italic;
	color: offBlack;
	transition-property: color, transform;
	transition-duration: 0.08s;
}

.playoption
{
	margin: 0px;
	flow-children: down;
	width: 100%;
	height: 200px;
	padding: 20px 0px;
	padding-left: 205px;
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0px;
	background-color: #00000090;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.playoption:hover
{
	background-color: ritualGreen;
	brightness: 1.6;
	pre-transform-scale2d: 1;
}

Label.playModeDesc
{
	width: 100%;
	height: fit-children;
	min-height: 60px;
	max-width: 400px;
	margin-top: 3px;
	text-align: left;
	horizontal-align: left;
	font-family: sans;
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite&10;
}

.playoption:hover Label.playModeDesc
{
	color: offBlack&70;
}

.nav_menu_item Label
{
	width: 450px;
	vertical-align: middle;
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	font-size: 44px;
	padding: 10px 5px -5px 10px;
	text-align: left;
	horizontal-align: left;
	color: NP_Offwhite;
	letter-spacing: 0.5px;
	transition-property: color, background-color, border, transform, opacity-mask;
	transition-duration: 0.2s;
	overflow: noclip;
}

#settings
{
	height: 50px;
}

#settings .menuButtonLabel
{
	padding: 5px 5px -5px 5px;
	height: 40px;
}

#settings .menuButtonLabel:hover
{
	color: white;
}

.nav_menu_item:hover Label.menuButtonLabel
{
	border-left: 6px solid NP_Primary_Light;
	color: #ffffff;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NP_Primary&aa ), to( #ffffff00 ) );
	opacity-mask: url("s2r://panorama/images/mask/texture_lines_2.vtex") 0.8;
	animation-name: scanlines;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	transition-property: opacity-mask, wash-color;
}

.NP_play_image
{
	ignore-parent-flow: true;
}

#Option_Matchmaking,#Option_PlayersVsBots,#Option_HeroTesting,#Option_BotMatch,#Option_Lobby
{
	background-size: 200px 300px;
	background-position: left top;
	background-repeat: no-repeat;
	background-img-opacity: 0.2;
}

#Option_Matchmaking
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_deadlock_psd.vtex");
}

#Option_PlayersVsBots
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_playersbots_psd.vtex");
}

#Option_HeroTesting
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_sandbox_psd.vtex");
}

#Option_BotMatch
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_privatebots_psd.vtex");
}

#Option_Lobby
{
	background-image: url("s2r://panorama/images/main_menu/menu_images/menu_play_custom_match_psd.vtex");
}

#UnavailableOverlay
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: #000000ee;
	z-index: 100;
	visibility: collapse;
}

#UnavailableOverlay Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	opacity: 0.7;
	color: rgb(207, 62, 62);
}

.in_party #UnavailableOverlay
{
	visibility: visible;
}

.NP_play_image
{
	ignore-parent-flow: true;
	margin: -20px;
	margin-right: 0px;
	height: 100%;
	width: height-percentage(75%);
	horizontal-align: right;
}

#RankedMode
{
	flow-children: down;
	width: fill-parent-flow(1);
	height: 100%;
}

.rankedPip.rankedPipUnlocked
{
	background-color: brandGreen&70;
	border: 2px solid #5edfff30;
	box-shadow: 0px 0px 16px #29a6ff10;
}

.rankedOpen #Option_Ranked
{
	border: 2px solid brandGreen&20;
	padding: 0px;
}

.rankedSchedule:selected
{
	border: 2px solid ritualGreen;
	background-color: ritualGreen&20;
}

#RankedProgressCircleAmount,#SetSchedule,#RankedMode .isActive.timeSegment
{
	background-color: ritualGreen;
}

.nav_menu_item:hover .DiagonalArrow
{
	wash-color: ritualGreenLight;
}

.watchIcon,.resume:hover .Arrow,.nav_menu_item:hover .DiagonalArrow,.nav_menu_item.minor:hover .smallIcon
{
	wash-color: ritualGreenLight;
}

#watch .live_matches,.nav_menu_item.resume:hover Label
{
	color: ritualGreenLight;
}

.nav_menu_item Label.queueNumber,.nav_menu_item.minor:hover Label
{
	color: ritualGreen;
}

.rankedSchedule:selected
{
	border: 2px solid ritualGreen;
	background-color: ritualGreen&20;
}

