/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@define bgOpacity: 0.5;
@define yellowSign: rgba(255, 216, 100,bgOpacity);
@define orangeSign: rgba(255, 156, 74,bgOpacity);
@define blueSign: rgba(72, 206, 255,bgOpacity);
@define purpleSign: rgba(226, 108, 255,bgOpacity);
@define greenSign: rgba(113, 255, 108,bgOpacity);
.colorPickers
{
	color: rgb(255, 216, 100);
	color: rgb(255, 156, 74);
	color: rgb(72, 206, 255);
	color: rgb(226, 108, 255);
	color: rgb(113, 255, 108);
}

.signRoot
{
	width: 350px;
	height: 100px;
	font-family: Exo;
	font-size: 20px;
	font-weight: semi-bold;
	border-radius: 8px;
	vertical-align: top;
	horizontal-align: center;
	background-color: rgba(0, 0, 0, 0.473);
	flow-children: right;
	line-height: 0px;
	animation-name: scanlines;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

.showPrompt .signRoot
{
	animation-name: showPrompt;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	opacity: 1;
}

@keyframes 'showPrompt'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.hidePrompt .TriggerRoot
{
	opacity: 1;
	animation-name: hidePrompt;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes 'hidePrompt'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.container
{
	width: 100%;
	height: 100%;
	margin: 8px;
	border: 3px solid rgba(255, 255, 255, 1);
	border-radius: 12px;
	vertical-align: center;
	flow-children: right;
}

.objectiveContainer
{
	width: 25%;
	height: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0px solid rgba(255, 255, 255, 0.0);
	border-right: 3px solid rgba(255, 255, 255, 1);
	vertical-align: center;
	flow-children: down;
}

@keyframes 'showObjective'
{
	0%
	{
		transform: translate3d( -25px, 0px, 0px);
	}
	
	100%
	{
		transform: translate3d( 0px, 0px, 0px);
	}
	
}

.districtContainer
{
	width: 75%;
	height: 100%;
	padding: 8px;
	vertical-align: center;
	flow-children: down;
}

.smallText
{
	color: rgba(255, 255, 255, 1);
	width: 100%;
	text-align: center;
	vertical-align: top;
	font-size: 16px;
	text-shadow: 2px 2px 2px 2px black;
}

.bigText
{
	color: rgba(255, 255, 255, 1);
	width: 100%;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	margin-top: 20px;
	text-shadow: 2px 2px 2px 2px black;
	animation-name: ziplineText;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	ignore-parent-flow: true;
}

#shopTextBig.bigText
{
	margin-top: 0px;
}

#shopTextSmall.smallText
{
	ignore-parent-flow: true;
	margin-top: 32px;
}

.objectiveIcon
{
	width: 60px;
	height: 60px;
	horizontal-align: center;
}

#normal.objectiveIcon
{
	animation-name: iconNormal;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
}

#cooldown.objectiveIcon
{
	animation-name: iconCooldown;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

#express.objectiveIcon
{
	animation-name: iconNormal;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#shop.objectiveIcon
{
	width: 60px;
	height: 65px;
	margin-top: 2px;
	animation-name: iconShop;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'iconShop'
{
	0%
	{
		transform: rotateY(0deg);
	}
	
	50%
	{
		transform: rotateY(90deg);
	}
	
}

@keyframes 'iconNormal'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
	}
	
}

@keyframes 'iconExpress'
{
	0%
	{
		transform: translatex( 10px );
		pre-transform-scale2d: 0.9;
	}
	
	50%
	{
		transform: translatex( -10px );
		pre-transform-scale2d: 1.05;
	}
	
	100%
	{
		transform: translatex( 10px );
		pre-transform-scale2d: 0.9;
	}
	
}

@keyframes 'iconCooldown'
{
	0%
	{
		pre-transform-rotate2d: 0deg;
	}
	
	20%
	{
		pre-transform-rotate2d: -10deg;
	}
	
	30%
	{
		pre-transform-rotate2d: 10deg;
	}
	
	40%
	{
		pre-transform-rotate2d: -5deg;
	}
	
	60%
	{
		pre-transform-rotate2d: 0deg;
	}
	
}

@keyframes 'ziplineText'
{
	0%
	{
		opacity: 1.0;
	}
	
	50%
	{
		opacity: 0.6;
	}
	
}

.objectiveText
{
	width: 100%;
	margin-top: 0px;
	text-align: center;
	vertical-align: center;
}

.on_cooldown #normal
{
	visibility: collapse;
}

.isExpress #normal
{
	visibility: collapse;
}

#cooldown
{
	visibility: collapse;
}

.on_cooldown #cooldown
{
	visibility: visible;
}

#express
{
	visibility: collapse;
}

.isExpress #express
{
	visibility: visible;
}

.yellowLane .signRoot
{
	wash-color: yellowSign;
	wash-color: rgb(250, 225, 81);
}

.greenLane .signRoot
{
	wash-color: greenSign;
	wash-color: rgb(101, 250, 81);
}

.orangeLane .signRoot
{
	wash-color: orangeSign;
	wash-color: rgb(252, 117, 64);
}

.blueLane .signRoot
{
	wash-color: blueSign;
	wash-color: rgb(81, 154, 250);
}

.purpleLane .signRoot
{
	wash-color: purpleSign;
	wash-color: rgb(239, 95, 252);
}

.on_cooldown .signRoot
{
	wash-color: #da2828;
}

.shop,.signRoot
{
	wash-color: rgb(255, 184, 29);
}

@define scanlineOpacity: 0.4;
@keyframes 'scanlines'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/scanline_anim/1.vtex") scanlineOpacity;
	}
	
	25%
	{
		opacity-mask: url("s2r://panorama/images/scanline_anim/2.vtex") scanlineOpacity;
	}
	
	50%
	{
		opacity-mask: url("s2r://panorama/images/scanline_anim/3.vtex") scanlineOpacity;
	}
	
	75%
	{
		opacity-mask: url("s2r://panorama/images/scanline_anim/4.vtex") scanlineOpacity;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/scanline_anim/1.vtex") scanlineOpacity;
	}
	
}

