@import url("s2r://panorama/styles/base/hud_minimap.vcss_c");

ColorEnemy = #FFFF56;
ColorEnemyObjective = #DCDC2F;

.map_button.enemy.player #BackgroundImage
{
	background-color: #FFEA0D;
}

.map_button.friend.player #BackgroundImage
{
	background-color: offWhite;
}

.map_button.enemy.boss .boss_image
{
	wash-color: ColorEnemyObjective;
}

.map_button.friend.boss .boss_image
{
	wash-color: offWhite;
}
