.recentPurchase.QolLiteRecentPurchase {
  border: 1px solid #9bc6ff22;
  background-color: #9bc6ff0a;
}

.recentPurchase.QolLiteRecentPurchase #QolLiteRecentPurchaseHero {
  width: 26px;
  height: 26px;
  margin-left: 4px;
  vertical-align: center;
  opacity: 0.9;
}
