#hero_testing_stub .qollite_hero_testing_controls {
  flow-children: right;
  margin-top: 8px;
  width: 100%;
}

#hero_testing_stub .qollite_hero_testing_shortcut {
  width: fill-parent-flow(1);
  margin-right: 4px;
}
