#QolLiteNotificationRoot {
  flow-children: down;
  horizontal-align: right;
  vertical-align: top;
  width: 360px;
  margin-top: 160px;
  margin-right: 32px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.15s;
}

#QolLiteNotificationRoot.QolLiteNotificationRoot--disabled {
  opacity: 0;
  visibility: collapse;
}

#QolLiteNotificationRoot .QolLiteNotification {
  flow-children: right;
  width: 100%;
  margin-bottom: 8px;
  padding: 10px 14px;
  background-color: #151b24f2;
  border: 1px solid #5d7088;
  border-radius: 2px;
  box-shadow: 0 2px 8px #000000a8;
}

#QolLiteNotificationRoot .QolLiteNotification Label {
  width: fill-parent-flow(1);
  color: #e8eef7;
  font-size: 17px;
  font-weight: semi-bold;
  white-space: nowrap;
  text-overflow: shrink;
}
