CitadelHudTopBar.QolLiteTopbarHideout .GameClock,
CitadelHudTopBar.QolLiteTopbarHideout .TeamNetworth {
  visibility: visible;
}

CitadelHudTopBar.WaitingForHudUpdate .GameClock,
CitadelHudTopBar.WaitingForHudUpdate .TeamNetworth,
CitadelHudTopBar.QolLiteTopbarWaitingForHudUpdate .GameClock,
CitadelHudTopBar.QolLiteTopbarWaitingForHudUpdate .TeamNetworth,
CitadelHudTopBar.gStreetBrawl .GameClock,
CitadelHudTopBar.gStreetBrawl .TeamNetworth,
CitadelHudTopBar.PreGame .GameClock,
CitadelHudTopBar.PreGame .TeamNetworth,
CitadelHudTopBar.gPreGame .GameClock,
CitadelHudTopBar.gPreGame .TeamNetworth {
  visibility: collapse;
}

#QolLiteObjectiveStatus {
  horizontal-align: center;
  margin-top: 76px;
  color: #dce8f3;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 2px 2 #000000cc;
  max-width: 360px;
  text-overflow: shrink;
  white-space: nowrap;
}
