@import url("s2r://panorama/styles/base/profile_card.vcss_c");
#AccountID
{
    visibility: visible;
    width: 100%;
    background-color: black;
}

.ShowRankStatlockerProfileLink
{
    horizontal-align: left;
    vertical-align: middle;
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid #6ab7ff99;
    padding: 0px;
    margin: 0px;
}

.ShowRankStatlockerProfileLink Label
{
    color: #77c8ff;
}

.ShowRankStatlockerProfileLink:hover Label
{
    color: #a8dcff;
}

#BottomRow
{
    flow-children: right;
    width: 100%;
    visibility: visible;
}

#CardMain
{
    width: 100%;
    visibility: visible;
}

#StatItems
{
    flow-children: right;
    vertical-align: middle;
    width: fill-parent-flow( 1.0 );
    height: 50px;
    visibility: visible;
}
