/* Prettified by Source 2 Viewer 14.1.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/base/hud_quickbuy.vcss_c");

.gShopOpen .QuickbuyQueueOuter
{
	margin-bottom: 45%;
	margin-top: 9%;
}