/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss_c");
CitadelModBonus
{
	width: 91px;
	height: 65px;
	horizontal-align: middle;
	flow-children: up;
	overflow: noclip;
}

Label
{
	color: colorCommonOffWhite;
	font-family: "Retail Demo";
}

.modTypeImage
{
	width: 40px;
	height: 40px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	ignore-parent-flow: true;
	vertical-align: top;
	z-index: 1;
}

.WeaponMods .modTypeImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_courage.vsvg");
	wash-color: courageBrightColor;
}

.ArmorMods .modTypeImage
{
	background-image: url("s2r://panorama/images/hud/core/icon_fortitude.vsvg");
	wash-color: fortitudeBrightColor;
}

.TechMods .modTypeImage
{
	background-image: url("s2r://panorama/custom/tech_icon.vsvg");
	wash-color: spiritBrightColor;
}

.showingWeapon .WeaponMods .modTypeImage
{
	wash-color: offBlack;
}

.showingArmor .ArmorMods .modTypeImage
{
	wash-color: offBlack;
}

.showingTech .TechMods .modTypeImage
{
	wash-color: offBlack;
}

.showingWeapon .WeaponMods .modTypeValue
{
	wash-color: offBlack;
}

.showingArmor .ArmorMods .modTypeValue
{
	wash-color: offBlack;
}

.showingTech .TechMods .modTypeValue
{
	color: offBlack;
}

.modTypeLabel
{
	horizontal-align: center;
	text-align: center;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: -4px;
	z-index: 2;
}

.modTypeValue
{
	horizontal-align: center;
	text-align: center;
	font-size: 14px;
	font-weight: semi-bold;
	opacity: 0.6;
	padding-bottom: 0px;
	z-index: 2;
}

.weaponStats .modTypeValue
{
	color: courageLightColor;
}

.armorStats .modTypeValue
{
	color: fortitudeLightColor;
}

.spiritStats .modTypeValue
{
	color: spiritLightColor;
}

CitadelHudModBarGraph
{
	horizontal-align: center;
	visibility: collapse;
}

