/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@define ModTierTopPadding: 10px;
@define ModTierBottomPadding: 20px;
CitadelShopModsTier
{
	width: 100%;
	height: fit-children;
	opacity: 1;
	margin: 0px 0px 10px 0px;
	transition-property: brightness, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	tooltip-position: left;
}

#GoldAndModsContainer
{
	width: 100%;
}

.AspectRatio16x10 CitadelShopModsTier
{
	width: 1069px;
}

CitadelShopModsTier.ModTierHovered
{
	opacity: 1;
	wash-color: none;
	z-index: 2;
	background-color: #ffffff05;
}

.ModTier2,.ModTier4
{
	background-color: #00000050;
}

.ModTier2.ModTierHovered,.ModTier4.ModTierHovered
{
	background-color: #ffffff05;
}

.showingWeapon CitadelShopModsTier.ModTierHovered
{
	background-color: weaponColorFaded;
}

.showingArmor CitadelShopModsTier.ModTierHovered
{
	background-color: armorColorFaded;
}

.showingTech CitadelShopModsTier.ModTierHovered
{
	background-color: techColorFaded;
}

.showingFavorites CitadelShopModsTier.ModTierHovered
{
	background-color: #ffe76030;
}

.showingFavorites CitadelShopModsTier
{
	padding: 20px 0px;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod
{
	opacity: 0.8;
	brightness: 0.5;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod:hover
{
	opacity: 1;
	brightness: 1;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod.HoveredItemIsComponent
{
	opacity: 1;
	animation-name: itemUpgradeAvailable;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.RelatedItemInOtherTier .ModsContainer CitadelShopMod.HoveredItemIsUpgrade
{
	wash-color: white;
	pre-transform-scale2d: 1.05;
	opacity: 1;
	brightness: 2;
}

@keyframes 'itemUpgradeAvailable'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		brightness: 1.5;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

CitadelShopModsTier.canAfford,CitadelHeroDetailsPage CitadelShopModsTier,CitadelHeroDetailsPage CitadelShopModsTier:hover
{
	brightness: 1;
}

.shopClosed CitadelShopModsTier
{
	wash-color: #00000090;
}

CitadelShopModsTier:hover #GoldCostContainer
{
	transition: background-color 0.5s ease-in-out 0s;
}

CitadelShopModsTier.canAfford:hover #GoldAndModsContainer
{
	brightness: 1.35;
	transition: brightness 0.5s ease-in-out 0s;
}

CitadelShopModsTier:hover .tierBonusContainer
{
	transition: opacity 0.15s ease-in-out 0s;
	opacity: 1;
}

#GoldAndModsContainer
{
	height: fit-children;
	brightness: 1;
	transition: brightness 0.15s ease-in-out 0s;
	wash-color: #00000020;
	flow-children: down;
}

#PassiveMods
{
	opacity: 1;
	brightness: 1;
	wash-color: #a405059a;
	transition-property: background-color;
	transition-duration: 0.15s;
	width: 100%;
}

.showingWeapon .ModTierHovered #GoldAndModsContainer
{
	wash-color: #00000000;
}

.canAfford #PassiveMods
{
	wash-color: none;
}

.ModTierHovered #ActiveMods
{
	brightness: 1;
	opacity: 1;
}

#GoldCostContainer
{
	opacity: 0.5;
	vertical-align: middle;
	horizontal-align: left;
	flow-children: right;
	transition: background-color 0.15s ease-in-out 0s;
	height: 60px;
	width: 100%;
	margin-bottom: 10px;
	background-color: #00000058;
}

.showingWeapon .goldContain
{
	border-right: 6px solid weaponColor;
}

.showingArmor .goldContain
{
	border-right: 6px solid armorColor;
}

.showingTech .goldContain
{
	border-right: 6px solid techColor;
}

.showingSearch .goldContain
{
	border-right: 6px solid goldColor;
}

.ModTierHovered #GoldCostContainer
{
	opacity: 1;
}

.goldContain
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: center;
	height: 60px;
	padding: 10px 20px;
	width: fit-children;
	overflow: noclip;
	background-color: #00000075;
}

#PassiveMods
{
	vertical-align: top;
	horizontal-align: left;
}

#PassiveModsContainer
{
	flow-children: right-wrap;
	width: 100%;
	height: fit-children;
	min-height: 100px;
	transition-property: height;
}

.goldIcon
{
	vertical-align: center;
	opacity: 0.2;
	margin-right: 5px;
	width: 25px;
	height: 25px;
	wash-color: shardColor;
}

.canAfford .goldIcon
{
	opacity: 1;
}

.goldCost
{
	color: colorEnemy;
	vertical-align: center;
	font-size: 30px;
	font-weight: bold;
	horizontal-align: center;
	text-align: center;
}

.showingWeapon .goldCost
{
	color: weaponBrightColor;
}

.showingTech .goldCost
{
	color: spiritBrightColor;
}

.canAfford .goldCost
{
	color: goldColor;
}

.componentPlus
{
	margin-top: 2px;
	margin-left: 2px;
	visibility: visible;
}

.ModTier3 .componentPlus,.ModTier4 .componentPlus
{
	visibility: visible;
}

#NP_Tier_Topbar,.tierBonus
{
	flow-children: right;
	width: 400px;
}

.tierBonusContainer
{
	flow-children: down;
	margin-left: 15px;
	width: 400px;
}

.Searching .tierBonusContainer
{
	visibility: collapse;
}

.tierBonusLabel
{
	font-weight: bold;
	height: 22px;
	margin-top: 7px;
}

.tierBonusValue
{
	margin-right: 5px;
}

.showingWeapon .tierBonusLabel
{
	color: courageBrightColor;
}

.showingArmor .tierBonusLabel
{
	color: fortitudeBrightColor;
}

.showingTech .tierBonusLabel
{
	color: spiritBrightColor;
}

.TierBonusType
{
	width: 400px;
}

