/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/_nphud_shared.vcss_c");
.bars_container
{
	ignore-parent-flow: true;
	overflow: noclip;
	flow-children: right;
	horizontal-align: left;
	vertical-align: bottom;
	width: 60%;
	height: 230px;
	max-width: 800px;
	padding-left: 20px;
}

.health_bar_border
{
	margin: 30px;
}

.progress_bar_numbers
{
	height: 50px;
	width: 170px;
	vertical-align: top;
	horizontal-align: right;
	visibility: visible;
	margin-top: -5px;
	flow-children: right;
}

#shield_bar
{
	margin-bottom: 5px;
}

#shield_bar .progress_bar_numbers,#tech_shield_bar .progress_bar_numbers
{
	horizontal-align: left;
	margin-top: -1px;
}

.bar_num_col_right
{
	horizontal-align: right;
	vertical-align: top;
	flow-children: right;
}

.progress_bar_current
{
	font-size: 31px;
	font-weight: bold;
	padding-left: 6px;
	margin-top: 6px;
	color: colorFriendly;
	color: #ffffff;
	vertical-align: top;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
	text-shadow: 2px 2px 0px #0c0c0cee;
}

.progress_bar_max
{
	font-size: 21px;
	font-weight: bold;
	horizontal-align: left;
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
}

#max_health
{
	color: #ddddddaa;
	font-size: 20px;
	font-weight: semi-bold;
	margin-left: 3px;
	margin-right: 6px;
	margin-top: 12px;
}

@keyframes 'midhealth_pulse'
{
	0%
	{
		background-color: #fcff6d00;
	}
	
	50%
	{
		background-color: #fcff6d00;
	}
	
	100%
	{
		background-color: #fcff6d00;
	}
	
}

@keyframes 'health_pulse'
{
	0%
	{
		background-color: #ff410d00;
	}
	
	50%
	{
		background-color: #ff410d00;
	}
	
	100%
	{
		background-color: #ff410d00;
	}
	
}

@keyframes 'health_pulse_text'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.08;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'health_pulse_text2'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate3'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.03;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'vibrate'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	30%
	{
		pre-transform-scale2d: 1.1;
	}
	
	45%
	{
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	90%
	{
		pre-transform-scale2d: 1;
	}
	
}

#pending_incoming_damage
{
	width: healthbarWidth;
	height: healthbarHeight;
	border-radius: NP_healthbarBRadius;
	visibility: visible;
}

#health_bar
{
	width: healthbarWidth;
	height: healthbarHeight;
	border-radius: NP_healthbarBRadius;
	z-index: 1;
}

.healthLow #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.healthMid #health_bar
{
	transition-property: background-color, transform;
	transition-duration: 0.4s;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.healthLow .progress_bar_current
{
	color: #ffe3db;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

.healthLow #current_health
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.bar_num_col_left
{
	horizontal-align: left;
	vertical-align: center;
	flow-children: right;
}

#current_health.healthLost
{
	color: white;
	text-shadow: 0px 0px 5px colorEnemy;
	transition-property: color, text-shadow;
	transition-duration: 0.4s;
}

.large_progress_bar
{
	height: healthbarHeight;
}

.healthMid .health_bar_line
{
	transition-property: pre-transform-scale2d;
	animation-name: vibrate3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

.healthLow .health_bar_line
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	animation-name: vibrate;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.regen_container
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: left;
	padding: 8px 6px 2px 34px;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0.8;
}

.health_regen_boosted.regen_container
{
	animation-name: regenBoost;
	animation-iteration-count: infinite;
	animation-duration: 0.2s;
}

.regen_image
{
	vertical-align: top;
	height: 18px;
	width: 16px;
	wash-color: #FFFFFF;
	margin-right: 8px;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transform: rotateZ(90deg);
}

.health_regen_boosted .regen_image
{
	wash-color: colorFriendly;
}

.health_regen_negative .regen_image
{
	wash-color: colorEnemy;
	transform: rotateY(180deg);
}

.regen_value
{
	line-height: 16px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: semi-bold;
	transition-property: color;
	transition-duration: 0.2s;
	margin-top: -3px;
}

.health_regen_boosted .regen_value
{
	color: colorFriendly;
}

@keyframes 'regenBoost'
{
	0%
	{
		wash-color: none;
	}
	
	50%
	{
		wash-color: green;
	}
	
	100%
	{
		wash-color: none;
	}
	
}

.health_regen_boosted .regen_container
{
	visibility: visible;
	opacity: 0.5;
}

.health_regen_negative .regen_container
{
	visibility: visible;
	opacity: 1;
}

.health_regen_negative .regen_value
{
	color: colorEnemy;
	font-weight: bold;
}

.small_progress_bar
{
	width: 100%;
	height: 19px;
	overflow: noclip;
	vertical-align: middle;
}

#shield_bar,#tech_shield_bar
{
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	visibility: collapse;
	border-radius: 3px;
	ignore-parent-flow: false;
	horizontal-align: left;
	vertical-align: top;
}

.shieldActive #shield_bar
{
	visibility: visible;
}

.techShieldActive #tech_shield_bar
{
	visibility: visible;
}

#shield_bar .ProgressBarLeft
{
	background-color: courageBrightColor&7e;
}

#tech_shield_bar .ProgressBarLeft
{
	background-color: spiritBrightColor&7e;
}

#shield_bar .ProgressBarMiddle,#tech_shield_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .ProgressBarRight,#tech_shield_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#shield_bar .progress_bar_current,#tech_shield_bar .progress_bar_current
{
	font-size: 14px;
	line-height: 14px;
	margin-top: 2px;
}

#shield_bar .progress_bar_divider,#tech_shield_bar .progress_bar_divider
{
	font-size: 14px;
	line-height: 14px;
}

#shield_bar .progress_bar_max,#tech_shield_bar .progress_bar_max
{
	font-size: 12px;
	line-height: 14px;
	font-weight: medium;
	vertical-align: top;
	margin-top: 3px;
}

#health_bar_frame
{
	background-color: black;
	opacity: 0.5;
	width: healthbarWidth;
	height: healthbarHeight;
	border-radius: NP_healthbarBRadius;
	z-index: -10;
}

#healthBottomEdge
{
	width: healthbarWidth;
	height: 4px;
	background-color: #03b66ea6;
	z-index: 10;
	visibility: visible;
	margin-top: 36px;
	border-radius: 4px;
}

#healthBottomEdge .tick
{
	width: 2px;
	background-color: rgba(0, 0, 0, 0.521);
	height: 4px;
}

.healthMid #healthBottomEdge
{
	background-color: #fff41d37;
}

.healthLow #healthBottomEdge
{
	background-color: #ff410d50;
}

#pending_incoming_damage .ProgressBarLeft,#pending_incoming_damage .ProgressBarRight
{
	opacity: 0;
}

#health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
	background-color: #008f40;
}

.team1 #health_bar .ProgressBarLeft
{
	background-color: #008f40;
}

.team2 #health_bar .ProgressBarLeft
{
	background-color: #008f40;
}

.team1.friend #health_bar .ProgressBarLeft,.team2.friend #health_bar .ProgressBarLeft
{
	background-color: #008f40;
}

.healthMid #health_bar .ProgressBarLeft
{
	background-color: colorLocalHealthbar;
}

#health_bar .ProgressBarMiddle
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0);
}

#health_bar.healthLost .ProgressBarMiddle
{
	background-color: #cc340a;
	transition-duration: 1s;
	transition-property: background-color;
}

.SpectatingTeamWest #health_bar.healthLost .ProgressBarMiddle
{
	background-color: #f6805f;
}

.healthLow #health_bar_frame
{
	wash-color: #ff410d;
	wash-color: #ff5656;
	wash-color: #cc340a;
}

.SpectatingTeamWest .healthLow #health_bar_frame
{
	wash-color: #580000;
}

#RejuvenatorContainer
{
	width: 38px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: left;
	overflow: noclip;
	margin-top: 15px;
	margin-left: 11px;
	visibility: collapse;
}

.HasRejuvenator #RejuvenatorContainer
{
	visibility: visible;
}

.healthLow #RejuvenatorContainer
{
	background-image: url("s2r://panorama/images/hud/healthbar/healthbar_rejuv_low_png.vtex");
}

#HealingPanel
{
	background-color: #00ff0088;
	z-index: 15;
	width: 100%;
}

#NP_Currency_and_AP_container
{
	horizontal-align: left;
	vertical-align: top;
	flow-children: right;
	margin-top: 45px;
	width: healthbarWidth;
}

#NP_currency_below_health
{
	height: 44px;
	width: fit-children;
	background-color: soulColor&20;
	padding: 0px 7px;
	border-radius: 5px;
}

#NP_shieldbar_container
{
	width: fill-parent-flow(1);
	margin-right: 5px;
	flow-children: down;
}

#APContainer
{
	width: fit-children;
	height: 44px;
	margin-right: 5px;
	padding: 0px 7px;
	horizontal-align: right;
	vertical-align: top;
	flow-children: right;
	background-color: spiritLightColor&20;
	border-radius: 5px;
	opacity: 1;
	visibility: visible;
	ui-scale: 100%;
	transition-property: ui-scale;
	transition-duration: 0.2s;
}

.ShowGoldAndAPOnHud #APContainer
{
	visibility: visible;
}

.APCurrencyIcon
{
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/hud/ap_icon.vsvg");
	background-size: contain;
	wash-color: spiritLightColor;
}

.APCurrencyAmount
{
	height: 34px;
	font-size: 28px;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: left;
	color: offWhite;
}

.infiniteMoney .APCurrencyAmount
{
	visibility: collapse;
}

#hudAPInfinite
{
	visibility: collapse;
	wash-color: spiritLightColor&80;
}

.infiniteMoney #hudAPInfinite
{
	visibility: visible;
	height: 30px;
	width: 30px;
	margin-top: 1px;
	margin-left: 3px;
	vertical-align: center;
}

#pending_incoming_damage .ProgressBarMiddle
{
	background-color: rgb(232, 127, 61);
}

