@import url("s2r://panorama/styles/base/hud_event_indicator.vcss_c");

@keyframes 'crit_color'
{
	0%
	{
		color: critDamageInitColor;
	}
	
	100%
	{
		color: green;
	}
	
}

.crit.damage_type_gun .HudIndicatorText
{
	opacity: 0.5;
	color: green;
	text-align: center;
	text-shadow: 0px 0px 4.0 rgb(8, 65, 0);
	animation-name: crit_color, crit_flash;
	animation-duration: 0.3s, 1s;
}

.batched.crit.damage_type_gun .HudIndicatorText
{
	opacity: 1;
	color: green;
	text-align: center;
	pre-transform-scale2d: 1.4;
	animation-name: crit_color, crit_flash;
	animation-duration: 0.3s, 0.3s;
}

.crit .HudIndicatorIcon
{
	wash-color: green;
	width: 30px;
	height: 30px;
}
