/* Soul Timer Mod - Overrides for hud_gold_and_ap_container */
@import url("s2r://panorama/styles/base/hud_gold_and_ap_container.vcss_c");

/* Soul Timer Label */
.soulTimer {
    font-size: 14px;
    font-weight: bold;
    font-family: sansMono;
    text-shadow: 0px 0px 4px 2.0 #000000;
    color: #00ff00;
    margin-right: 5px;
    vertical-align: center;
    visibility: visible;
    transition-property: color;
    transition-duration: 0.3s;
}

.soulTimer.hidden {
    visibility: collapse;
}

.soulTimer.red {
    color: #ff474d;
}

.soulTimer.yellow {
    color: #ffcc00;
}

.soulTimer.green {
    color: #00ff00;
}
