/* Prettified by Source 2 Viewer 12.0.0.0 - https://valveresourceformat.github.io */

@define cppMaxDistScale: 0.4;
@define cppMinDistScale: 1.5;
@define cppMinDist: 200;
@define cppMaxDist: 1500;
@define cppDistanceBias: 0.2;
.ability_element_unit_target
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	visibility: visible;
}

#unit_target
{
	width: 100%;
	height: 100%;
}

#scaled_panel
{
	width: 300px;
	height: 300px;
}

#unscaled_panel
{
	width: 300px;
	height: 300px;
}

.target_shape
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip;
	position: 0px 14% 0px;
}

.diamond
{
	width: 25%;
	height: 25%;
	vertical-align: center;
	horizontal-align: center;
	border: 2px solid #ffffff;
	transform: rotateZ( 45deg );
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	clip: radial( 50% 50%, 160deg, 310deg );
}

.diamond_inner
{
	width: 25%;
	height: 25%;
	vertical-align: center;
	horizontal-align: center;
	border: 2px solid #ffffff;
	transform: rotateZ( 45deg );
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	clip: radial( 50% 50%, 160deg, 310deg );
}

@keyframes 'Focus_In'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 0;
	}
	
}

.friendly .diamond_inner,.friendly .diamond
{
	border-color: #9dc7aa;
	clip: none;
}

.friendly .diamond
{
	animation-name: Outer_Flash_Friend;
}

.friendly .diamond_inner
{
	animation-name: Focus_In_Friend;
}

@keyframes 'Focus_In_Friend'
{
	0%
	{
		pre-transform-scale2d: 0.3;
		opacity: 0.5;
		wash-color: none;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		opacity: 0.3;
		wash-color: #ffffff;
	}
	
}

@keyframes 'Outer_Flash_Friend'
{
	0%
	{
		opacity: 1;
		wash-color: none;
		background-color: #ffffff00;
	}
	
	100%
	{
		opacity: 1;
		wash-color: #ffffff;
		background-color: #ffffff10;
	}
	
}

.shiv_can_kill .diamond
{
	animation-duration: 0.4s;
	border: 4px solid #ff0000;
}

.shiv_can_kill .diamond_inner
{
	animation-duration: 0.4s;
	animation-name: Focus_In;
	border: 2px solid #ff0000;
}

.shiv_can_kill .target_shape
{
    animation-name: can_kill_pulse;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes 'can_kill_pulse'
{
    0%
    {
        pre-transform-scale2d: 1.5;
    }
    
    100%
    {
        pre-transform-scale2d: 1;
    }
    
}

.is_progress .diamond
{
	visibility: collapse;
}

#hint_container
{
	horizontal-align: center;
	flow-children: right;
	y: 70%;
}

.stack_count
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
	y: -70px;
	font-size: 40px;
	text-align: center;
	color: white;
	width: 40px;
	height: 40px;
	font-weight: semi-bold;
}

.lockon_progress
{
	visibility: collapse;
	width: 100px;
	height: 100px;
	z-index:-2;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 8px solid rgb(255, 20, 20);
	vertical-align: center;
	horizontal-align: center;
}

.lockon_progress_inner
{
	visibility: collapse;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	clip: radial( 50% 50%, 0deg, 360deg );
	border: 6px solid rgb(255, 20, 20);
	z-index:-1;
	vertical-align: center;
	horizontal-align: center;
}

.locking_on .lockon_progress,.locking_on .lockon_progress_inner
{
	visibility: collapse;
}

.stack_is_locked.lockon_progress
{
	visibility: visible;
	border-color: rgb(0, 0, 0);
}

@keyframes 'lock_flash'
{
	40%
	{
		border: 6px solid rgb(255, 255, 200);
	}
	
	70%
	{
		border: 6px solid rgb(150, 255, 150);
	}
	
	100%
	{
		border: 6px solid rgb(97, 255, 97);
	}
	
}

.stack_is_locked.lockon_progress_inner
{
	visibility: visible;
	border-color: rgb(97, 255, 97);
	animation-name: lock_flash;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

